<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.salutation') %></h1>
    <p><%= t('.para1') %><br></p>
    <p><%= t('.para2') %></br></p>
    <p><%= t('.para3') %></br></p>
    <br><br>

    <p><%= t('.best_wi') %></p>
    <p><%= t('.team_aj') %></p>
  </body>
</html>